Package: usb-device
Architecture: riscv64
Maintainer: @scpcom
Depends: busybox-static
Provides: usb-device-licheervnano
Replaces: usb-device-licheervnano
Priority: optional
Version: 1.0.0
Description: usb-device for the CV18xx and SG200X series of RISC-V SoC's
