[Unit]
Description=KVM Data
After=load-systemko.service
After=finalize-image.service
Before=sensor-config.service
Before=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=busybox sh /etc/init.d/S01fs start

[Install]
WantedBy=multi-user.target
