[Unit]
Description=KVM HWD
After=load-systemko.service
After=device-key.service
After=device-uuid.service
Before=nanokvm.service
Before=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=sh /etc/init.d/S15kvmhwd start

[Install]
WantedBy=multi-user.target
