[Unit]
Description=NanoKVM
After=device-key.service
After=kvm-hwd.service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=exec
Restart=on-failure
ExecStart=sh /etc/init.d/S95nanokvm start
ExecStop=sh /etc/init.d/S95nanokvm stop

[Install]
WantedBy=multi-user.target
