[Unit]
Description=Store Device Key
After=load-systemko.service
After=device-config.service
Before=usb-device.service
Before=ifup@end0.service
Before=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=busybox sh /etc/init.d/S02devicekey start

[Install]
WantedBy=multi-user.target
