[Unit]
Description=Enable USB Switch
After=network.target
Conflicts=usb-gadget-rndis.service
Conflicts=usb-gadget-acm.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=busybox sh /etc/init.d/usb-host.sh start

[Install]
WantedBy=multi-user.target