[Unit]
Description=Start WiFi
After=load-systemko.service
After=device-key.service
After=load-wifimod.service
Before=ifup@wifi0.service
Before=networking.service wpa_supplicant.service network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=busybox sh /etc/init.d/S30wifi start

[Install]
WantedBy=multi-user.target
