[Unit]
Description=Load fb
After=load-systemko.service
After=device-key.service
After=enable-backlight.service
Before=load-tp.service
Before=ifup@end0.service
Before=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=busybox sh /etc/init.d/S04fb start

[Install]
WantedBy=multi-user.target
