[Unit]
Description=Load tp
After=load-systemko.service
After=device-key.service
After=load-fb.service
Before=device-uuid.service
Before=ifup@end0.service
Before=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=busybox sh /etc/init.d/S05tp start

[Install]
WantedBy=multi-user.target
