[Unit]
Description=Load wifimod
After=load-systemko.service
After=device-key.service
After=device-uuid.service
Before=nanokvm.service
Before=ifup@end0.service
Before=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=busybox sh /etc/init.d/S25wifimod start

[Install]
WantedBy=multi-user.target
