[Unit]
Description=Configure Device
After=load-systemko.service
Before=device-key.service
Before=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=sh /etc/init.d/S02config start

[Install]
WantedBy=multi-user.target
