[Unit]
Description=USB NIC DHCP Gadget Support
After=gadget-nic.service
After=ifup@usb1.service
ConditionPathExists=/etc/udhcpd.usb1.conf
StartLimitIntervalSec=0

[Service]
Type=exec
Restart=on-failure
ExecStart=/usr/sbin/udhcpd -f -S /etc/udhcpd.usb1.conf


[Install]
WantedBy=sys-subsystem-net-devices-usb1.device
